<h3> Lets roll a dice !</h3>

<p> 
<% dice = [1,2,3,4,5,6] %>

<img src="http://golearntocode.com/images/dice/<%= dice.sample %>.png">
<img src="http://golearntocode.com/images/dice/<%= dice.sample %>.png">
<%= dice.sample %>  

</p>	



